.pro{
    text-align: center;
    font-weight: bold;
    font-family: Fira Code;
    text-decoration: underline;
}
#image{
 float: right;
 height: 500px;;
}
.info-text{
    font-family: Fira code;
    font-size: small;
    font-weight: bold;
}